
html {
    box-sizing: border-box;
    font-family: 'Quattrocento Sans', sans-serif;
    color:#333;
}

body {
    background: #ccc;
    padding: 30px 50px;
}

img {
    max-width: 100%;
}
section{
    margin-top: 20px;
}
/* Navigation */
.header{
    background: #A993FF;
    box-shadow: 0 1px 5px rgba(104,104,104, 0.8);
    display: flex;
    justify-content: space-between;
}
.header-menu{
    display: none;
}
.header-title{
    font-family: 'Quattrocento', serif;
    font-size: 36px;
    color: #333;
    margin-left: 30px;
    width: 240px;
}
.header-title span{
    color: #791B99;
}
.header-nav{
    display: flex;
    margin-right: 30px;
}
.header-nav a{
    height: 72px;
    line-height: 72px;
    color: #fff;
    font-size: 18px;
    padding: 0 10px;
}
.header-nav a:hover {
    background: #9A55B2;
    color: #333;
    font-weight: bold;
    box-shadow: 0 1px 5px rgba(104,104,104, 0.8);
}
@media screen and (max-width: 690px) {
    .header{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 430px) {
    .header{
        flex-direction: row;
        padding: 14px;
    }
    .header-title{
        font-size: 20px;
        margin-left: 0;
    }
    .header-nav{
        display: none;
    }
    .header-menu{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: #791B99;
        color: #fff;
        border-radius: 10px;
        font-size: 12px;
    }
}


/* Showcase */
.showcase {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 550px;
    background-image: url(../img/img.png);
    background-size: cover;
    background-position: center;
    padding: 48px;
    box-shadow: 0 1px 5px rgba(104,104,104, 0.8);
}

.showcase h2 {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}

.showcase p {
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
}

/* Box Section */
.boxes {
    display: flex;
}

.boxes-item {
    flex: 1;
    background: #A993FF;
    text-align: center;
    padding: 24px 32px;
    box-shadow: 0 1px 5px rgba(104,104,104, 0.8);
    margin-right: 20px;
}
.boxes-item:nth-child(2n){
    margin-right: 0;
}
.boxes-item img {
    display: block;
}
.boxes-item a {
    display: block;
    position: relative;
}

.boxes-item span {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 10px;
    background: #791B99;
    text-transform: uppercase;
    color: #fff
}
@media screen and (max-width: 560px) {
    .boxes{
        flex-direction: column;
        align-items: center;
    }
    .boxes-item{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .boxes-item:last-child{
        margin-bottom: 0;
    }
}
/* Quote Section */
.main-quote {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'quote img'
    'quote img'
    'quote img';
    background: #A993FF;
    box-shadow: 0 1px 5px rgba(104,104,104, 0.8);
}

.quote {
    grid-area: quote;
    display: grid;
}
